// FOOTER
footer
  //
   #foot.footer-top
    .container
      .footer-top-wrapper
        .footer-top-left
          p.footer-top-focus YOU CAN EXPERIENCE OUR VR-EDUCATION
          p.footer-top-text you can download education app in Steam
        .footer-top-right
          a.btn.btn-blue.btn-bold(href="https://store.steampowered.com" target="_blank")
            span GET STARTED NOW
  
  .footer-main
    .container
      .footer-main-wrapper
        .row
          .col-6
            .col-md-6.col-sm-6.col-xs-6.sd380
              .edugate-widget.widget
                .title-widget Finpal
                .content-widget
                  div
                    .method-item
                      p
                        a(href='#foot')
                          i.fa.fa-map-marker
                          |&nbsp;34F, Three IFC, 10, Gukjegeumyoung-ro, Youngdeungpo-gu, Seoul, Korea 07326
                          br
                          |&nbsp;&nbsp;&nbsp;1021 West Hastings Street, Suite #900, Vancouver BC, V6E 0C3
                  div
                    .method-item
                      p
                        a(href='tel:820267468788')
                          i.fa.fa-phone
                          | &nbsp;(+82)2 6746 8788
                  div
                    .method-item
                      p
                        a(href='mailto:admin@finpalgroup.com ')
                          i.fa.fa-envelope
                          | &nbsp;admin@finpalgroup.com
          .col-3
            .col-md-3.col-sm-3.col-xs-3.sd380
              .mailing-widget.widget
                .title-widget SITE NAV
                .content-wiget
                  ul.footnav.method-item
                    li
                      a(href='/') HOME
                    li
                      a(href='/aboutus') ABOUT US
                    li
                      a(href='/vrsys') VR EDUCATION
                    li
                      a(href='/algorithm') ALGORITHM
                    li
                      a(href='/prop') PROP TRADING
                    li
                      a(href='/shop') SHOP        
          .col-3
            .col-md-3.col-sm-3.col-xs-3.sd380
              .mailing-widget.widget
                .title-widget Policy
                .content-wiget
                  ul.footnav.method-item
                    li
                      a(href='/') Privacy Policies
                    li
                      a(href='/aboutus') Disclaimer
                    li Copyright @Finpal 2019



 
